SAP_ENV=dev.local
DATABASE_URL=postgresql://nodara_user:NodaraPass2026!@postgres-service:5432/nodara_db
SAP_IS_BASE_URL=http://s4-sim-service:8000
LANGFUSE_HOST=http://langfuse-service:3000
LANGFUSE_PUBLIC_KEY=pk-lf-df959196-ec32-496b-b53d-43583a3ae16c
LANGFUSE_SECRET_KEY=sk-lf-2e21ae24-5326-4da5-812c-68d1bcd079b8
SALT=nodara-super-secret-salt-2026
SAP_AICORE_CLIENT_ID=
SAP_AICORE_CLIENT_SECRET=
SAP_AICORE_AUTH_URL=
SAP_AICORE_BASE_URL=
SAP_AICORE_RESOURCE_GROUP=default
SAP_OPENAI_DEPLOYMENT_ID=gpt-4o